.form-group{
  /*margin-bottom:-2px;*/
}
.form-control{
  border-radius: 0;
}

hr{
    border-top:1px solid #999999;
}

.form-control, .custom-select{
  border:1px solid #999999;
}
.col-form-label{
  font-weight: bold;
}

.sidebar{
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}


.sticky{
    position: sticky;
    top:62px;
}
.sticky a{
  padding: 5px;
  padding-left:20px;
  font-weight: bold;
  color: #111111;
  font-size: 1.5em;
}

table.hlist thead tr,
table.hlist tbody tr{
  font-size: 12px;
}


table.hlist th{
  position: sticky;
  top:0;
}
table.formatHTML5 tr.selected {
    background-color: #e92929 !important;
    color:#fff;
    vertical-align: middle;
    padding: 1.5em;
}
